@font-face {
    font-family: Pop;@font-face {
    font-family: Pop;
    src: url(fonts/Poppins.ttf);
}

* {
    scroll-behavior: smooth;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: #fff;
}

body {
    font-family: Pop;
    padding: 0px;
    margin: 0px;
    color: #BDF2ED;
}

#backgrnd {
    background-color: #070A0D;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -2;
    backround-image: url('https://i.ibb.co/XLJcX6v/FSdtzda-WQAA0-Oc-M.jpg');
    background-image: url('imgs/bob.webp');
    background-position-y: -120px;
}

.section,.halfsection {
    height: 850px;
    width: 100%;
    background-color: #010626;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#s1 {
    justify-content: center;
}

#s2 {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0px 0px 14px #000000cc;
    color: #152B59;
    color: #fff;

}

.halfsection {
    height: 50vh;
    background-color: #00000000;
}

p {
    filter: blur(0.5px);
}

#bigtitle {

    font-size: 12vw;
    position: fixed;
    line-height: 90px;
    z-index: -1;
    backdrop-filter: blur(0px);
    text-shadow: 0px 0px 16px #00000099;
    padding: 10em;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

#s2 h2 {
    font-size: 38px;
    filter: blur(0.5px);
}

.text {
    padding: 5vw;
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
}

#s2 h3 {
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: -5px;
    filter: blur(0.5px);
}

#s2 .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    blur(0px)
}

footer {
    height: 210px;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #0D1542;
}

.loll {
    display: flex;
    flex-direction: column;
    justify-content: space-beween;
}

#loll p {
    padding: 10px;
}

.pic {
    height: 160px;
    border-radius: 16px;
    background-color: #0d1542;
    width: 300px;
    max-width: 100vw;
}

.hek {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#s3 {
    margin-bottom: 0px;
}

#l3 {
    blur(0px)
}

.num3 {
    blur(0px)
}

h3 {
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: -5px;
    filter: blur(0px);
}

#s3 .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    blur(0px)
}

#s3 h2 {
    font-size: 38px;
    filter: blur(0px);
}

video {
    max-width: 100%;
    border-radius: 16px;
    overflow: hidden;
}

video::-webkit-media-controls-panel {
    background-image: linear-gradient(transparent, transparent) !important;
}

video::-webkit-media-controls-volume-slider {
display:none;
}


video::-webkit-media-controls-mute-button {
display:none;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

video::-webkit-media-controls-current-time-display{
    display: none;
}

video::-webkit-media-controls-time-remaining-display{
    display: none;
}

video::-webkit-full-page-media::-webkit-media-controls-panel{
    display: none;
}
    src: url(fonts/Poppins.ttf);
}

* {
    scroll-behavior: smooth;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: #fff;
}

body {
    font-family: Pop;
    padding: 0px;
    margin: 0px;
    color: #BDF2ED;
}

#backgrnd {
    background-color: #070A0D;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -2;
    backround-image: url('https://i.ibb.co/XLJcX6v/FSdtzda-WQAA0-Oc-M.jpg');
    background-image: url('imgs/bob.webp');
    background-position-y: -120px;
}

.section,.halfsection {
    height: 850px;
    width: 100%;
    background-color: #010626;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#s1 {
    justify-content: center;
}

#s2 {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0px 0px 14px #000000cc;
    color: #152B59;
    color: #fff;

}

.halfsection {
    height: 50vh;
    background-color: #00000000;
}

p {
    filter: blur(0.5px);
}

#bigtitle {

    font-size: 50px;
    position: fixed;
    line-height: 90px;
    z-index: -1;
    backdrop-filter: blur(0px);
    text-shadow: 0px 0px 16px #00000099;
    padding: 10em;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

#s2 h2 {
    font-size: 38px;
    filter: blur(0.5px);
}

.text {
    padding: 5vw;
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
}

#s2 h3 {
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: -5px;
    filter: blur(0.5px);
}

#s2 .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    blur(0px)
}

footer {
    height: 210px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #0D1542;
}

.loll {
    display: flex;
    flex-direction: column;
    justify-content: space-beween;
}

#loll p {
    padding: 10px;
}

.pic {
    height: 160px;
    border-radius: 16px;
    background-color: #0d1542;
    width: 300px;
}

.hek {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#s3 {
    margin-bottom: 0px;
}

#l3 {
    blur(0px)
}

.num3 {
    blur(0px)
}

h3 {
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: -5px;
    filter: blur(0px);
}

#s3 .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    blur(0px)
}

#s3 h2 {
    font-size: 38px;
    filter: blur(0px);
}

video {
    max-width: 100%;
    border-radius: 16px;
}

video::-webkit-media-controls-panel {
    background-image: linear-gradient(transparent, transparent) !important;
}

video::-webkit-media-controls-volume-slider {
display:none;
}


video::-webkit-media-controls-mute-button {
display:none;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

video::-webkit-media-controls-current-time-display{
    display: none;
}

video::-webkit-media-controls-time-remaining-display{
    display: none;
}

video::-webkit-full-page-media::-webkit-media-controls-panel{
    display: none;
}
